PORT=3007
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
BILLING_DB_NAME=neura-agents-platform

# Logging
LOG_LEVEL=info

# Security
INTERNAL_SERVICE_SECRET=super-secret-key

# Keycloak
KEYCLOAK_ISSUER_URL=http://keycloak:8080/realms/neura-agents
KEYCLOAK_PUBLIC_ISSUER_URL=http://localhost:8081/realms/neura-agents
